.side-header
  .side-header__box
    .side-header__box__top
      .side-header__box__top__left-messages
        = current_user.name
      .side-header__box__top__right-messages
        = link_to "＃", class: "side-header__box__top__right-messages__btn-left" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user), class: "side-header__box__top__right-messages__btn-right" do
          = icon('fas', 'cog')
  .side-header__mid
    .side-header__mid__messages
      .side-header__mid__messages-top
        aあ
      .side-header__mid__messages-bottom
        あ
